<!-- templates/detail.html -->

{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
<h2>{{ record.title|title }}</h2><br>
<b>Created by:{{ record.author.first_name }} | {{ record.created_on}}</b><br><br>

{{ record.text }}<br><br>
</div>

{% if request.user.first_name == record.author.first_name %}
<input type="button" onclick="location.href='{% url 'delete' record.id %}'" value="Delete" />

<input type="button" onclick="location.href='{% url 'edit' record.id %}'" value="Edit" />
{% endif %}

{% endblock content %}



















